<body>


  <h3>about me</h3>
  <p>Skilled mobile app developer, proficient in Flutter, C#, and Microsoft Office, seeking an opportunity to contribute
    my expertise, create innovative solutions, deliver exceptional user experiences, and be part of a dynamic team.</p>
  <h3>Skills</h3>
  <!-- <div>
    <h3>Skills</h3>
    <h4 class="title">programming Language and Framework
      <ul>
        <li class="skill-body" *ngFor="let skill of skills['programmingLanguage']">
          {{skill}}
        </li>
      </ul>
    </h4>
    <h4 class="title">Framework and Tools
      <ul>
        <li class="skill-body" *ngFor="let skill of skills['framework']">
          {{skill}}
        </li>
      </ul>
    </h4>
    <h4 class="title">frontEnd Development
      <ul>
        <li class="skill-body" *ngFor="let skill of skills['frontEnd']">
          {{skill}}
        </li>
      </ul>
    </h4>
    <h4 class="title">BackEnd Development
      <ul>
        <li class="skill-body" *ngFor="let skill of skills['backEnd']">
          {{skill}}
        </li>
      </ul>
    </h4>
    <h4 class="title">Version control
      <ul>
        <li class="skill-body" *ngFor="let skill of skills['version']">
          {{skill}}
        </li>
      </ul>
    </h4>
  </div> -->
  <div class="container">
    <h4 class="title">Tools
    </h4>
    <div class="tool-div">
      <img class="tools" *ngFor="let tool of tools" src={{tool}} alt={{tool}}>
    </div>
  </div>
</body>