:root {
  text-align: start;

}

span {
  color: var(--headFont-color);
  font-size: large;
}

#contact {
  background-color: transparent;
  border: 2px solid var(--headFont-color);
  border-radius: 5px;
  padding: 8px 22px;
  cursor: pointer;
  color: var(--headFont-color);
}

#contact :hover {
  border-color: #8f358e;
}

/* 
.title {
  line-break: loose;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #83cbec;

} */

/* .skill-body {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #7f84bc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
} */